body {
    text-align: center;
    background: beige;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signIn {
    font-family: 'Courgette', cursive;
}

.logIn {
    border-radius: 5px;
    background: rgb(52, 179, 21);
    border: none;
    color: beige;
    padding: 9px 200px;
    margin-top: 15px;
    cursor: pointer;
}

#bank {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: beige;
    display: none;
}

#bank p {
    font-family: 'Courgette', cursive;
}

.logIn, .check, .deposit, .withdrawal, #depositButton, #withdrawalButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(52, 179, 21);
    color: beige;
    cursor: pointer;
}

.logIn {
    padding: 10px 230px;
    border: none;
    border-radius: 5px;
    background: rgb(52, 179, 21);
    color: beige;
    cursor: pointer;
}

#balance, #deposit, #withdrawal {
    width: 100%;
    text-align: center;
    background-color: beige;
    display: none;
}

#depositButton, #withdrawalButton {
    padding: 7px;
    border: none;
    border-radius: 5px;
    background: rgb(52, 179, 21);
    color: beige;
    cursor: pointer;
}

#bank {
    border: 5px solid rgb(104, 230, 110);
    width: 797px;
    margin-left: 70px;
    padding-bottom: 60px;
}

.withdrawal {
    margin-bottom: 10px;
}

input {
    font-size: 20px;
    background: none;
    border: 1px solid rgb(104, 230, 110);
    margin-left: 5px;
}

.welcome {
    font-size: 32px;
}

.bankBalance, .dollarSign {
    font-size: 25px;
}